.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.main {
  width: 768px;
  height: 600px;
  background: #151321;
  color: silver;
  &__form {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    input {
      color: silver;
    }
  }
  &__list {
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 370px;
    overflow-y: scroll;
    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background: #000;
      box-shadow: 0 0 20px 1px rgba(0,0,0,0.5), 0 0 20px 0px rgba(0,0,0,0.5);
      width: 100%;
      height: 50px;
      margin-top: 10px;
      div {
        display: flex;
        justify-content: space-around;
        /*align-items: center;*/
        margin: 5px;
        width: 50%;
        height: 20px;
      }
    }
  }
  &__account {
    position: relative;
    top: 130px;
    width: 100%;
    height: 400px;
    background: rgba(0,0,0,0.5);
    .avatar {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      top: -40px;
      img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 4px inset #D51C66;
      }
    }
    .details {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      top: -40px;
      width: 100%;
    }
  }
}
.settings {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topList {
  div {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #D51C66;
    text-shadow: 0 0 20px red;
    cursor: pointer;
    opacity: 0.5;
    transition: all ease 0.35s;
  }
  div:hover {
    opacity: 1;
    transition: all ease 0.35s;
  }
}
